.conversation-go-back-arrow {
  font-size: 40px;
  color: $orange-vamos;
}
.before-conversation-stuff {
  height: 100px;
  .conversation-booking-status {
    opacity: 0.6;
    font-weight: lighter;
  }
}

.chat-chat {
  height: 100vh;
  position: relative;
}

.messages-container {
  height: 75vh;
  .message-box {
    font-weight: lighter;
    border-radius: 10px;
    flex-grow: 1;
    font-size: 14px;
    .message-info {
      opacity: 0.5;
      font-size: 12px;
    }
    .avatar-box {
      width: auto;
    }
  }
}

.my-message {
  background-color: $orange-vamos;
  color: white;
}
.someones-message {
  background-color: #EDEFED;
}

.button-send-message {
  color: $orange-vamos;
  text-align: center;
  font-family: 'Roboto Slab';
  font-size: 18px;
  margin-right: 12px;
  padding:6px 10px;
  border: none;
  width: 10%;
}

.chat-textbox {
  border-spacing: 0px;
  border: none;
  width: 100%;
  display: flex;
  background-color: white;
  .message_body {
    flex-grow: 1;
    textarea{
      width: 90%;
      border: none;
      resize: none;
      margin-left: 5px;
      margin-top: 5px;
    }
  }
}

.text-message {
  border:none;
}

@media(min-width: 992px) {
  .conversation-go-back-arrow {
    position: fixed;
    left: 30px;
    top: 100px;
  }
  .conversation-booking-status {
    padding-top: 30px;
  }
  .responsive-chat-container {
    width: 60%;
    margin: auto;
  }
  .messages-container {
    height: 60vh;
  }
  .chat-textbox {
    #message_body {
      height: 100px;
    }
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .conversation-go-back-arrow {
    position: fixed;
    left: 30px;
    top: 100px;
  }
  .conversation-booking-status {
    padding-top: 30px;
  }

  .responsive-chat-container {
    width: 70%;
    margin: auto;
  }
  .messages-container {
    height: 60vh;
  }
  .chat-textbox {
    #message_body {
      height: 100px;
    }
  }
}

@media(min-width: 575px) and (max-width: 767px) {
  .chat-textbox {
    position: fixed;
    bottom: 0px;
  }
}
