.date-message-text {
  font-size: 11px;
  color: $black-gray;
  font-weight: lighter;
}

.conversation-content {
  flex-grow: 1;
}

.content-container-chat {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 90%;
  padding: 0px;
  height: calc(100vh - 250px);
  max-width: 700px;
  a:hover {
    color: $black-gray;
  }
}

@media(min-width: 992px) {
  .content-container-chat {
    width: 80%;
  }
}
@media(min-width: 768px) and (max-width: 991px) {
  .content-container-chat {
    width: 70%;
  }
}

.style-project {
  margin-bottom: 0px;
  color: #F28A28;
}

//Display the project name when it's on desktop
#desktop-show-project-chat {
display:none;
}

@media screen and (min-width: 992px) {
#desktop-show-project-chat{
display: block; }
}

//Display the project name when it's on desktop
#mobile-show-chat {
display:block;
}

@media screen and (min-width: 992px) {
#mobile-show-chat{
display: none; }
}

#mobile-show-status-right {
  display:none;
  color: #8d8d8d;
}

@media screen and (min-width: 992px) {
#mobile-show-status-right{
display: block; }
}

.date-message-text-2 {
  font-size: 11px;
  color: $black-gray;
  font-weight: lighter;
}

@media screen and (min-width: 992px) {
.date-message-text-2{
display: none; }
}

