.usp-background {
  background-color: $very-light-gray;
  max-height: 200px;
  flex-grow: 1;
  padding: 20px;
}

.ngo-cta {
  max-width: 500px;
}

.usp-feature-text-ngo {
  max-width: 300px;
}

.usp-picture-container {
  padding: 90px 100px;
}

.paragraph-width-smaller {
  max-width: 500px;
}

.card-category-ngo-new {
  background-color: white;
  float: left;
  border-radius: 4px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
  width: 460px;
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.ngo-screen {
  width: 500px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-right: 30px;
}

.banner-home-page {
  background-size: cover;
  height: 100vh;
  background-position: center center;
  padding: 0;
}

.usp-box  {
  background-color: $orange-vamos;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  width: 350px;
}

.full-screen {
  width: 100%;
  height: 100%;
}
.desktop-view-create-ngo {
  display: none;
}

.content-container-photo {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 90%;
  padding: 0px;
}

.ngo-all-desktop  {
  height: calc(100vh - 200px);
}

.content-container-ngo-new {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 90%;
  padding: 0px;
}


@media(min-width: 992px) {
  .desktop-view-create-ngo {
    display: block;
  }
  .content-container-photo {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .content-container-ngo-new {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media(min-width: 768px) and (max-width: 991px) {
  .content-container-photo {
    width: 80%;
  }
  .content-container-ngo-new {
    width: 80%;
  }
  // .filter-container {
  //   width: 90%;
  //   margin-top: 0px;
  // }
}
@media(min-width: 575px) and (max-width: 767px) {
  .content-container-photo {
  }
  .usp-box  {
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  }
}

.category-field {
  margin-bottom: 20px;
}

#back {
  margin-top: 30px;
}
