// Define variables for your color scheme


// buttons and highlights:
$orange-vamos: #E75B00;
//light-gray for background:
$light-gray: #DfDfDf;

//dark black-gray for fonts:
$black-gray: #3C3C3C;
//secondary grays for fonts and other elements:
$secondary_gray_light:#cec4c2;
$secondary_gray_dark: #a39594;

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$light-orange: #FEB74D;
$green: #1EDD88;


