// Define variables for your color scheme

// buttons and highlights:
$orange-vamos:#fb8500;
$light-orange: #FDEAD7;
$green-vamos: #00fb85;
$blue-vamos: #0076fb;
$red-vamos: #fb0000;

//light-gray for background:
$light-gray: #909090;
//dark black-gray for fonts:
$black-gray: #505050;
$very-light-gray: #F7F7F7;

//secondary grays for fonts and other elements:
$secondary_gray_light:#A0A0A0;
$secondary_gray_dark: #404040;

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$light-orange: #FEB74D;
$green: #1EDD88;

.orange {
  color: $orange-vamos;
}

.gray {
  color: $light-gray;
}

.dark-gray {
  color: $black-gray;
}

.dark-gray-background {
  padding: 80px 10px;
  background-color: #00fbd5;
}
