// Define variables for your color scheme

// buttons and highlights:
$orange-vamos:#F28A28;
//light-gray for background:
$light-gray: #909090;
//dark black-gray for fonts:
$black-gray: #505050;

//secondary grays for fonts and other elements:
$secondary_gray_light:#A0A0A0;
$secondary_gray_dark: #404040;

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$light-orange: #FEB74D;
$green: #1EDD88;

