<h1>User#invite</h1>

<p>
  <p>Hi <%= @user.email %>,</p>
<p> <%= @current_user.first_name %> has invited you to join his/her team at Vamos!
  Just in case we haven't met each other yet: Vamos! helps you find the right
  volunteering opportunities around you and create a team with your friends to volunteer
  together. Ready to join your team and do good together? Just follow this link:

Not sure yet? Have a look at our website first:

See you soon at Vamos!

Your Vamos Team
</p>
