<h1>User#invite</h1>

<p>
  <p>Hola <%= @user.email %>,</p>
<p> <%= @current_user.first_name %> has invited you to join his/her team at Vamos Barcelona! <br>
  Just in case we haven't met each other yet: Vamos Barcelona! helps you find the right
  volunteering opportunities in the city and create a team with your friends to volunteer
  together. <br><br> Ready to join your team and do good together? Just follow the link.

Not sure yet? Have a look at our website first: <br>
vamosbarcelona.com <br> <br>

See you soon at Vamos! <br>

Your Vamos Team
</p>
