.category-input {
  display: none;
}

.category-button {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#progress2 {
  margin-top: 255px;
  margin-bottom: 10px;
}
