.time-input {
  display: none;
}
.time-button {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width: 992px) {

}
@media(min-width: 768px) and (max-width: 991px) {

}
@media(max-width: 767px) {

}

