.category-input {
  display: none;
}

.category-button {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.width-small-interest {

}

@media(min-width: 992px) {

}
@media(min-width: 768px) and (max-width: 991px) {

}
@media(max-width: 767px) {
  }
}
