#progress1 {
  position: absolute;
  bottom: 10px;
  width: 340px;
}

.form-location {
}

.filter-submit-location {
  background-color: $orange-vamos;
  width: 100px;
  height: 60px;
  border-radius: 10px;
  border: none;
  color: white;
  opacity: 0.8;
  font-size: 24px;
  font-weight: lighter;
  position: absolute;
  right: 20px;
  bottom: 100px;
}

@media(min-width: 992px) {
  #progress1 {
    position: static;
    width: 100%;
    margin-top: 265px;
  }
  .filter-submit-location {
    position: static;
    margin-top: 40px;
    margin-left: 400px;
  }
}
@media(min-width: 768px) and (max-width: 991px) {
  #progress1 {
    position: static;
    width: 100%;
    margin-top: 265px;
  }
}
@media(min-width: 575px) and (max-width: 767px) {
  #progress1 {
  margin-top: 500px;
  }
}

