// Specific CSS for your home-page
.home-container {
 width: 100%;
 height: 100vh;
 justify-content: center;
 padding-top:60px;
}

.home-text {
  padding-top: 80px;
  justify-content: center;
}


.banner.home-background {
  background-size:cover;
  height: 100vh;
  background-position: center center;
  padding: 0;
}

.navbar-lewagon.home {
background: transparent;
position: fixed;
width: 100%;
}

.navbar-lewagon.home .fa-bars {
color:white;
}

.text-homepage {
color: white;
}

.slogan-home {
color: $orange-vamos;
background-color: white;
opacity: 0.8;
}

