// Specific CSS for your home-page
.banner {
  color: white;
}

.home-container {
  width: 100%;
  height: 100vh;
  justify-content: center;
  padding-top:60px;
  padding-left: 30px;
  padding-right: 30px;
}

.home-text {
  justify-content: center;

}

.white {
  color: white;
  text-decoration: none;
}

white:active {
  color: white;
}

.white:focus {
  color: white;
}

.white:hover {
  color: white;
  text-decoration: none;
}

.find-volunteer {
  padding-right: 50px;
  padding-top: 100px;
}

.banner.home-background {
  background-size: cover;
  height: 100vh;
  background-position: center center;
  padding: 0;
}

// .navbar-lewagon.home {
// background: transparent;
// position: fixed;
// width: 100%;
// }

// .navbar-lewagon.home .fa-bars {
// color:white;
// }

// .navbar-lewagon.nav-link .home {
// color: white;
// }

.text-homepage {
color: white;
font-weight: lighter;
text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.product-description {
  background-color: $very-light-gray;
}

.product-info {
  max-width: 500px;
}

.home-h2-container {
  max-width: 500px;
}

.slogan-home {
color: white;
opacity: 1;
margin-bottom: 8px;
margin-top: 272px;
font-size: 31px;
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

@media(min-width: 992px) {
  .slogan-home {
    margin-top: 150px;
  }

  .product-info {
  margin-top: 50px;
  }

  .hide-desktop {
    display:none;
  }
  .find-volunteer {
    padding-right: 30px;
    padding-top: 200px;
  }
  .banner.home-background {
    padding-left: 80px;
    padding-top: 350px;
  }
}
@media(min-width: 768px) and (max-width: 991px) {
  .slogan-home {
    margin-top: 200px;
  }
  .hide-desktop {
    display:none;
  }
  .product-info {
  margin-top: 50px;
  }
  .find-volunteer {
    padding-right: 30px;
    padding-top: 200px;
  }

  .banner.home-background {
    padding-left: 80px;
    padding-top: 350px;
  }
}
@media(min-width: 575px) and (max-width: 767px) {
  .slogan-home {
  }
  .find-volunteer {
    padding-right: 20px;
    padding-top: 150px;
    font-weight: 32;
  }
  .product-info {
  margin-top: 50px;
  }
}

@media(max-width: 575px) {
  .hide-mobile {
    display:none;
  }
}

