// TIME FILTER

.time-input {
  display: none;
}
.time-button {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// INTERESTS FILTER

.category-input {
  display: none;
}

.category-button {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// COMMON FOR LOCATION + INTERESTS + TIME
.filter-title {
  font-size: 32px;
  margin-top: 100px;
}

.filter-content {
  margin-top: 60px;
}

.filter-form {
    margin-top: 60px;
  }

.filter-submit {
  background-color: $orange-vamos;
  width: 100px;
  height: 60px;
  border-radius: 10px;
  border: none;
  color: white;
  opacity: 0.8;
  font-size: 24px;
  font-weight: lighter;
  position: absolute;
  right: 20px;
  bottom: 50px;
}

.filter-buttons {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

// COMMON FOR INTERESTS + TIME
.buttons {
  width: 100%;
  .button {
    background-color: white;
    border: 1px gray solid;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    color: $black-gray;
    text-align: center;
    opacity: 0.8;
    font-weight: lighter;
    &.active {
      opacity: 1;
      color: $black-gray;
      font-weight: 400;
      border: 2px $orange-vamos solid;
      i {
        transition: font-size 0.2s ease;
        color: $orange-vamos;
        font-size: 1.2em;
      }
    }
  }
}

.filter-image {
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
  height: calc(100vh - 80px);
}

.filter-submit {
  position: absolute;
  bottom: 80px;
  right: 0px;
}
.progress {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

@media(min-width: 992px) {
  .desktop-with-pic {
    display: flex;
  }
  // FLEX ITEM 1
  .filter-container {
    height: calc(100vh - 80px);
    position: relative;
    width: 50%;
    margin-left: 60px;
    margin-right: 60px;
  }
  // FLEX ITEM 2
  .filter-image-container {
    width: 50%;
  }
  .filter-form {
    margin-top: 50px;
  }
  .buttons {
    .button {
      width: 140px;
      height: 140px;
    }
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .desktop-with-pic {
    display: flex;
  }
  // FLEX ITEM 1
  .filter-container {
    height: calc(100vh - 80px);
    position: relative;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
  }
  // FLEX ITEM 2
  .filter-image-container {
    width: 50%;
  }
  .filter-form {
    margin-top: 50px;
  }
}

@media(max-width: 767px) {
  .filter-container {
    margin: auto;
    width: 90%;
    height: 100vh;
    position: relative;
    height: calc(100vh - 80px);
  }
  .filter-image-container {
    display:none;
  }
}

