<div class="desktop-footer">
  <div class="d-flex justify-content-around align-items-center">
    <div class="footer-icons">
      <a class="footer-link" href="#"><i class="fab fa-instagram pl-2"></i></a>
      <a class="footer-link" href="#"><i class="fab fa-facebook pl-2"></i></a>
      <a class="footer-link" href="https://www.linkedin.com/company/vamos-volunteering"><i class="fab fa-linkedin pl-2"></i></a>
    </div>

    <div>
      <p class="paragraph-no-margin white"> <%= link_to t("global.navbar.about"), about_vamos_path, class: "footer-link" %></p>
      <p class="paragraph-no-margin white"> <%= link_to t("global.navbar.privacy_policy"), privacy_policy_vamos_path, class: "footer-link" %></p>
    </div>

    <div class="footer-contact white">
      <p class="paragraph-no-margin white">Barcelona, Vienna, Paris</p>
      <p class="paragraph-no-margin white">info@vamosbarcelona.com</p>
      <p class="paragraph-no-margin white"> © 2020 Vamos! Global</p>
    </div>

  </div>
</div>
