<div class="desktop-footer">
  <div class="d-flex justify-content-around pt-5">
    <div class="footer-icons">
      <a href="#"><i class="fab fa-github pl-2"></i></a>
      <a href="#"><i class="fab fa-instagram pl-2"></i></a>
      <a href="#"><i class="fab fa-facebook pl-2"></i></a>
      <a href="#"><i class="fab fa-twitter pl-2"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <p>© Vamos Barcelona Inc.</p>
    <div class="footer-contact">
      <p>About us</p>
      <p>Company Details</p>
      <p class="paragraph-no-margin">info@vamosbarcelona.com</p>
    </div>
  </div>
</div>
