<div class="desktop-footer">
  <div class="d-flex justify-content-around align-items-center">
    <div class="footer-icons">
      <a href="#"><i class="fab fa-instagram pl-2"></i></a>
      <a href="#"><i class="fab fa-facebook pl-2"></i></a>
      <a href="#"><i class="fab fa-linkedin pl-2"></i></a>
    </div>

    <div>
      <%= link_to t("global.navbar.about"), about_vamos_path, class:"white"%>
      <p class="white mt-3">© 2020 Vamos! Global</p>
    </div>

    <div class="footer-contact pb-3 white">
      <p>Barcelona, Vienna, Paris</p>
      <p class="paragraph-no-margin white">info@vamosbarcelona.com</p>
    </div>
  </div>
</div>
