<div class="desktop-footer py-5">
  <div class="d-flex justify-content-around align-items-center pt-3">
    <div class="footer-icons">
      <a href="#"><i class="fab fa-instagram pl-2 gray"></i></a>
      <a href="#"><i class="fab fa-facebook pl-2 gray"></i></a>
      <a href="#"><i class="fab fa-linkedin pl-2 gray"></i></a>
    </div>
    <p>© Vamos! Global</p>
    <div class="footer-contact pb-3">
      <p>Barcelona, Vienna, Paris</p>
      <p class="paragraph-no-margin">info@vamosbarcelona.com</p>
    </div>
  </div>
</div>
