<div class="desktop-footer">
  <div class="d-flex justify-content-around pt-5">
    <div class="footer-icons">
      <a href="#"><i class="fab fa-instagram pl-2 gray"></i></a>
      <a href="#"><i class="fab fa-facebook pl-2 gray"></i></a>
      <a href="#"><i class="fab fa-linkedin pl-2 gray"></i></a>
    </div>
    <p>© Vamos! Global</p>
    <div class="footer-contact">
      <p>Barcelona, Vienna, Paris</p>
      <p class="paragraph-no-margin">info@vamosbarcelona.com</p>
    </div>
  </div>
</div>
