<li class= "ml-2">
  <%= link_to "/" do %>
    <div class="d-flex align-items-center">
      <%= image_tag "Flags/flag_uk.jpg", alt: "Flag of UK to change language to English", class: "flags mb-2"%>
    </div>
  <% end %>

  <%= link_to root_path(locale: :es) do %>
    <div class="d-flex align-items-center">
      <%= image_tag "Flags/flag_spain.jpg", alt: "Flag of Spain to change language to Spanish", class: "flags"%>
    </div>
  <% end %>
</li>
