<div class="language-bottom-left hide-desktop d-flex py-2">

  <%= link_to "/" do %>
    <div class="d-flex align-items-center mr-3">
      <%= image_tag "Flags/flag_uk.jpg", class: "flags mb-2 hide-desktop"%>
    </div>
  <% end %>

  <%= link_to root_path(locale: :es) do %>
    <div class="d-flex align-items-center">
      <%= image_tag "Flags/flag_spain.jpg", class: "flags hide-desktop"%>
    </div>
  <% end %>
</div>


