<div class="logo-top-right hide-desktop">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "final_logo.png", alt: "Logo of Vamos Barcelona, orange V and black amos." style: "width: 150px" %>
  <% end %>
</div>
