<% @project.photos.each do |photo| %>
<%= cl_image_tag photo.key, class: "banner"%>
<% end %>

<div class="content-container">
  <h2 class="mb-4"> Get your friends on board and apply as a team!</h2>

  <div class="infobox text-center">
    <h1><i class="far fa-id-card orange mt-2"></i></h1>
    <p class="paragraph-no-margin mb-2">The project owner gets all profiles in one application.</p>
  </div>

  <div class="infobox text-center">
    <h1><i class="fas fa-comments orange mt-2"></i></h1>
    <p class="paragraph-no-margin mb-2">All team members can chat with the project owner.</p>
  </div>

  <form action="/teams/new" method="get">
    <%= hidden_field_tag(:id, params["id"]) %>
    <button type="submit" class="button-vamos primary-stlye mt-3 w-100">
      Create your team
    </button>
  </form>
</div>

