<div class="content-container">

  <div class="filter-title">
    What topics are you interested in?
  </div>

  <div class="filter-content">

    <div class="form-group">

      <form action="/time" method="get">
        <input id="hidden-input" type="hidden" name="search[categories][]" value="">
        <div class="buttons d-flex justify-content-between flex-wrap">
          <% ["Children", "Elderly Care", "Climate Change", "Social", "Cultural", "Other"].each do |category| %>
            <input type="checkbox" class="hidden category-input" value="<%= category %>" name="search[categories][]" id="categories_<%= category %>">
            <label class="category-button button" for="categories_<%= category %>">
              <%= category%>
            </label>
          <% end %>
        </div>
        <button type="submit" class="filter-submit">
          <i class="fas fa-chevron-right"></i>
        </button>
      </form>

    </div>

  </div>
</div>
