<div class="content-container">

  <div class="filter-title">
    Where do yo want to help?
  </div>

  <div class="filter-content">
    <%= form_with url: "/projects", method: :get, local: true do |f| %>
      <%= f.text_field :address, placeholder: 'Location', label:false %>
      <%= f.submit "Next" %>
    <% end %>
  </div>

</div>
