<div class="content-container">

  <h2 class="mt-5">
    What <span style="color: #fb8500">topics</span> are you most interested in?
  </h2>

  <div class="filter-content">

    <div class="form-group">

      <form action="/time" method="get">
        <input id="hidden-input" type="hidden" name="categories[]" value="">

        <%= render "projects/partial_filter_boxes_interest" %>

        <input type="hidden" name="address" value="<%= params[:address] %>">

        <button type="submit" class="filter-submit">
          <i class="fas fa-chevron-right"></i>
        </button>

      </form>

    </div>

  </div>
</div>
