<div class="content-container">

  <h2 class="mt-5">
    <span style="color: #fb8500">Where</span> do you want to help?
  </h2>

  <div class="filter-content">
    <%= form_with url: "/interests", method: :get, local: true do |f| %>
      <%= f.text_field :address, placeholder: 'Location', label:false %>
      <%= button_tag( :class => "filter-submit") do %>
        <i class='fas fa-chevron-right'></i>
      <% end %>
    <% end %>
  </div>


</div>
