<div class="content-container">

  <h2 class="mt-5">
    <span style="color: #fb8500">Where</span> do you want to help?
  </h2>

  <div class="filter-content">
    <%= form_with url: "/interests", method: :get, local: true do |f| %>
      <%= f.text_field :address, placeholder: 'Location', label:false %>

      <button type="submit" class="filter-submit">
        <i class="fas fa-chevron-right"></i>
      </button>

    <% end %>

  </div>


</div>
