<div class="desktop-with-pic">
  <div class="filter-container">
    <div class="filter-form">
      <h2 class="mt-5">
        <span style="color: #fb8500">Where</span> do you want to help with your friends?
      </h2>

      <div class="filter-content">
        <%= form_with url: "/interests", method: :get, local: true do |f| %>
          <%= f.text_field :address, placeholder: 'Type Barcelona address', label:false %>
          <%= button_tag( :class => "filter-submit") do %>
            <i class='fas fa-chevron-right'></i>
          <% end %>
        <% end %>
      </div>

      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
      </div>
    </div>
  </div>

  <div class="filter-image-container">
    <%= image_tag "location.jpg", class: "filter-image"%>
  </div>

</div>
