<div class="filter-container">

  <h2 class="mt-5">
    What <span style="color: #fb8500">topics</span> are you most interested in?
  </h2>

  <div class="filter-content">

    <div class="form-group">

      <form action="/time" method="get">
        <input id="hidden-input" type="hidden" name="categories[]" value="">

        <%= render "projects/partial_filter_boxes_interest" %>

        <input type="hidden" name="address" value="<%= params[:address] %>">

        <%= render "pages/partial_next_button" %>

      </form>

    </div>

  </div>

  <div class="progress" id="progress2">
    <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">33%</div>
  </div>

</div>
