<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'logo.png'%>')">
 <div class='container'>
    <h1>Support local causes.</h1>
    <h1>Do it with your friends.</h1>
    <h3>Find opportunities around you, build your team and volunteer together.</h3>
    <br>
    <button type="button" class="btn btn-primary vamos">Vamos!</button>
  </div>
</div>