 <div class="banner home-background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url('<%= image_path "Jump.jpg"%>'); background-repeat: no-repeat;">
  <div class='container-fluid home-container'>
    <div class="row align-items-center">
     <div class="col-sm-10 offset-1 home-text">
      <h1><strong>Support local causes.<br>Do it with your friends.</strong></h1>
    </div>
  </div>
  <div class="row align-items-center">
   <div class="col-sm-10 offset-1 home-text">
    <h3>
      Find opportunities around you, <br>
      build a team, volunteer together.
    </h3>
  </div>
</div>
<div class= "row align-items-center">
 <div class="col-sm-10 offset-1 home-text">
  <button type="button" class="btn btn-primary vamos"><strong> Vamos!</strong></button>
</div>
</div>
</div>
