<div class = "content-container">
  <p class="opportunities-counter"> We found 50 oportunities near you</p>
  <div class="filters d-flex justify-content-left">
    <div class="filter py-1 px-3">Location</div>
    <div class="filter py-1 px-3">Interest</div>
    <div class="filter py-1 px-3">Hours</div>
  </div>
  <div class="card-container my-3">

    <div class="project-card my-4">
      <div class="project-image" style="background-image: url(<%= image_path 'teacher.jpg' %>)">
        <div class="interest-icon border rounded-circle">
          <i class="fas fa-leaf"></i>
        </div>
      </div>
      <h5 class="project-title">Teach English to inmigrant children </h5>
      <p class="project-ong">Red Cross</p>
      <div class="project-elements d-flex justify-content-left">
        <div class="element"><i class="far fa-clock"></i> 5 h</div>
        <div class="element"><i class="fas fa-user-friends"></i> 10</div>
        <div class="element"><i class="fas fa-map-marker-alt"></i> 0.5km</div>
      </div>
    </div>
<!-- DELETE FROM HERE -->
    <div class="project-card my-4">
      <div class="project-image" style="background-image: url(<%= image_path 'teacher.jpg' %>)">
        <div class="interest-icon border rounded-circle">
          <i class="fas fa-leaf"></i>
        </div>
      </div>
      <h5 class="project-title">Teach English to inmigrant children </h5>
      <p class="project-ong">Red Cross</p>
      <div class="project-elements d-flex justify-content-left">
        <div class="element"><i class="far fa-clock"></i> 5 h</div>
        <div class="element"><i class="fas fa-user-friends"></i> 10</div>
        <div class="element"><i class="fas fa-map-marker-alt"></i> 0.5km</div>
      </div>
    </div>
<!-- TILL HERE (IT'S A ROW FOR TESTING) -->
  </div>
</div>
