.project-image-show {
  width: 100%;
  height: 100px;
  position: relative;
  object-fit: cover;
}

.image-map-show {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.email-user-ngo {
  line-height: 0.7;
}  //project show page, for ngo user contact

.phone-user-ngo {
  line-height: 0.7;
} //project show page, for ngo user contact

