.opportunities-counter {
  font-weight: lighter;
}

.filter {
  border-radius: 18px;
  color: #5F5F5F;
  border: 1px solid $light-gray;
  font-size: 14px;
  font-weight: lighter;
  margin-right: 12px;
}

.icon {
  color: $orange-vamos;
  font-size: 26px;
}

#map_button {
  border: 1px solid $orange-vamos;
}
