.opportunities-counter {
  font-weight: lighter;
}

.filter {
  border-radius: 18px;
  color: #5F5F5F;
  border: 1px solid $light-gray;
  font-size: 14px;
  font-weight: lighter;
  margin-right: 12px;
}

.icon {
  color: $orange-vamos;
  font-size: 26px;
}

.desktop-carousel-container {
  width: 350px;
  height: 200px;
}

// Had to set this to 0 so that it does not interfere with map modal
.carousel-control-prev, .carousel-control-next {
  z-index: 100;
}

.timeframe-tag {
  width: 130px;
  height: 30px;
  border-radius: 10px;
  color: white;
  text-align: center;
  .day-tag {
    background-color: #F6F289;
    border-radius: 10px;
  }
  .short-tag {
    background-color: #CDEFD5;
    border-radius: 10px;
  }
  .long-tag {
    background-color: #C9E8F3;
    border-radius: 10px;
  }
}
