.opportunities-counter {
  font-weight: lighter;
}

.filter {
  border-radius: 18px;
  color: #5F5F5F;
  border: 1px solid $light-gray;
  font-size: 14px;
  font-weight: lighter;
  margin-right: 12px;
}

.icon {
  color: $orange-vamos;
  font-size: 26px;
}

.desktop-carousel-container {
  width: 350px;
  height: 200px;
}

// Had to set this to 0 so that it does not interfere with map modal
.carousel-control-prev, .carousel-control-next {
  z-index: 100;
}

