.content-container-chat {
  min-height: 85vh;
}

.conversation-go-back-arrow {
  font-size: 40px;
  color: $orange-vamos;
  z-index: 1000;
}
.before-conversation-stuff {
  height: 100px;
  .conversation-application-status {
    opacity: 0.6;
    font-weight: lighter;
  }
}

.chat-chat {
  height: 100vh;
  position: relative;
}

.messages-container {
  height: 75vh;
  .message-box {
    font-weight: lighter;
    flex-grow: 1;
    font-size: 14px;
    .message-info {
      opacity: 0.5;
      font-size: 12px;
    }
    .avatar-box {
      min-width: 40px;
    }
  }
}

.my-message {
  background-color: $orange-vamos;
  color: white;
  border-radius: 10px 10px 0px 10px;
}
.someones-message {
  background-color: #EDEFED;
  border-radius: 10px 10px 10px 0px;
}

.button-send-message {
  color: $orange-vamos;
  text-align: center;
  font-family: 'Roboto Slab';
  font-size: 18px;
  margin-right: 12px;
  padding:6px 10px;
  border: none;
  width: 10%;
}

.chat-textbox {
  border-spacing: 0px;
  border: none;
  width: 100%;
  display: flex;
  background-color: white;
  .message_body {
    flex-grow: 1;
    textarea{
      width: 90%;
      border: none;
      resize: none;
      margin-left: 5px;
      margin-top: 5px;
    }
  }
}

.text-message {
  border:none;
}

.conversation-application-accept-button {
  border: 1px solid white;
  width: 80px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: $orange-vamos;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  color: white;
  .green-color {
    color: white;
  }
}
.conversation-application-reject-button {
  margin-top: 5px;
  border: 1px solid $orange-vamos;
  width: 80px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  color: $orange-vamos;
  .red-color {
    color: $orange-vamos;
  }
}


@media(min-width: 992px) {
  .conversation-go-back-arrow {
    position: fixed;
    left: 30px;
    top: 100px;
  }
  .conversation-application-status {
    padding-top: 30px;
  }
  .responsive-chat-container {
    width: 60%;
    margin: auto;
  }
  .messages-container {
    height: 60vh;
  }
  .chat-textbox {
    #message_body {
      height: 100px;
    }
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .conversation-go-back-arrow {
    position: fixed;
    left: 30px;
    top: 100px;
  }
  .conversation-application-status {
    padding-top: 30px;
  }

  .responsive-chat-container {
    width: 70%;
    margin: auto;
  }
  .messages-container {
    height: 60vh;
  }
  .chat-textbox {
    #message_body {
      height: 100px;
    }
  }
}

@media(min-width: 575px) and (max-width: 767px) {
  .chat-textbox {
    position: fixed;
    bottom: 0px;
  }
}
