.banner {
  width: 100%;
}

.banner-vision {
  background-image: url("Vision/vision3.jpg"),linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.4));
  background-size: cover;
  background-position: center;
}
