.btn.btn-primary.vamos {
background-color:#F28A28;
color: white;
justify-content: center;
border-radius: 10px;
height: 40;
width: 90%;
box-shadow: 0 0 10px rgba(0,0,0,0.2);;
text-align: center;
font-family: 'Roboto Slab';
font-size: 20px;
}

.button-apply-show {
  background-color: #F28A28;
  padding: 16px 10px 16px 10px;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  text-align: center;
  width: 90%;
}

.button-apply-show:hover {
  color: white;
}

.background-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 80px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.social-share-button {
  .ssb-icon {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }
}

.status-button-accepted-dashboard-user {
    background-color: $green-vamos;
    text-align: center;
    padding: 5px 5px;
    box-shadow: 3px;
    font-size: 16px;
    position: absolute;
    left: 233px;
    bottom: 3px;
    border-radius: 5px;
    opacity: 0.9;
    color: $white;
    width: 100px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  }

  .status-button-rejected-dashboard-user {
    background-color: $red-vamos;
    text-align: center;
    padding: 10px 16px 10px 16px;
    box-shadow: 3px;
    font-size: 16px;
    position: absolute;
    left: 233px;
    bottom: 3px;
    border-radius: 5px;
    opacity: 0.8;
    color: white;
    width: 100px;
    font-weight: bold;
  }

  .status-button-pending-dashboard-user {
    background-color: $black-gray;
    text-align: center;
    padding: 10px 16px 10px 16px;
    box-shadow: 3px;
    font-size: 16px;
    position: absolute;
    left: 233px;
    bottom: 3px;
    border-radius: 5px;
    opacity: 0.8;
    color: white;
    width: 100px;
    font-weight: bold;
  }




// a.ssb-icon.ssb-facebook {
//   background-size: 30px 30px;
//   height: 30px;
//   width: 40px;
//   color: gray;
// }

a.ssb-icon.ssb-whatsapp_app {
  background-size: 35px 35px;
  height: 35px;
  width: 35px;
  color: gray;
}


