.mobile-project-card {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  max-width: 700px;

  .project-image {
    background-size: cover;
    width: 100%;
    height: 180px;
    position: relative;
  }
  .interest-icon {
    background-color: white;
    text-align: center;
    padding: 7px;
    box-shadow: 5px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    left: 3px;
    bottom: 3px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .project-text-stuff {
    padding-left: 5px;
    .project-title {
      margin: 0px 0px 0px;
      font-size: 22px;
      margin-bottom: 4px;
      margin-top: 4px;
    }
    .project-ong {
      margin-bottom: 5px;
      font-size: 16px;
      color: $light-gray;
      font-weight: lighter;
    }
    .project-elements {
      color: gray;
      font-weight: lighter;
      .element {
        margin-right: 30px;
      }
      a {
      text-decoration: none;
      }
    }
  }
}


.desktop-card-container {
  width: 1200px;
  flex-grow:1;
  a :hover {
    color: #5f6368;
  }
  .desktop-project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    .project-image {
      object-fit: cover;
      height: 200px;
      width: 350px;
      border-radius: 4px;
    }
    .project-text-stuff {
      .project-title {
        color: $orange-vamos;
      }
      .project-elements {
        color: #5f6368;
      }
      .project-description {
        font-size: 16px;
        font-weight: lighter;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
        & :hover {

        }
      }
    }
  }
}
.desktop-map {
  width: 60%;
  #map {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-size: auto 100%;
  }
}

@media(min-width: 992px) {
  .mobile-projects-index {
    display: none;
  }
  .mobile-projects-index #map {
    display: none;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .mobile-projects-index {
    display: none;
  }
  .desktop-map {
    display: none;
  }
}

@media(max-width: 767px) {
  .desktop-projects-index {
    display: none;
  }
}

