.desktop-footer {
  width: 100%;
  height: 200px;
  background-color: #F5F5F5;
  margin-top: 150px;
  .footer-icons {
    font-size: 26px;
  }
}

@media(min-width: 992px) {
  .white-space-login-page {
  height: 65px;
}
}

@media(min-width: 768px) and (max-width: 991px) {
  .white-space-login-page {
  height: 65px;
}
}

@media(max-width: 767px) {
  .desktop-footer {
    display: none;
  }
}
