.desktop-footer {
  padding: 50px 10px;
  width: 100%;
  max-height: 300px;
  background-color: $black-gray;
  .footer-icons {
    font-size: 26px;
    a{
      opacity: 0.9;
    }
    a:hover {
      color: white;
      opacity: 1;
    }
  }
}

.white-space-forgot-password-page {
  height: 100px;
}

@media(min-width: 992px) {
  .white-space-login-page {
  height: 65px;
}
}

@media(min-width: 768px) and (max-width: 991px) {
  .white-space-login-page {
  height: 65px;
}
}

@media(max-width: 767px) {
  .desktop-footer {
    display: none;
  }
}
