body {
  background-color: white;
  font-family:$body-font;
  font-size: 16px;
  color: $black-gray;
}

h1 {
  font-size: 27px;
  color:$orange-vamos;
  padding-bottom: 5px;
  line-height: 30px;
}

h2 {
  font-size: 25px;
  color: $black-gray;
  padding-bottom: 5px;
}

h3 {
  font-size: 18px;
  color:white;
  line-height: 30px;
}
