// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";
@import "flags";
@import "button";
@import "container";
@import "card";
@import "banner";
@import "tab";
@import "infobox";
@import "footer";
@import "phone_screens";

h5 {
  color: black;
}

.fa-clock, .fa-user-friends, .fa-map-marker-alt{
  margin-right: 5px;
}

.mobile-project-card {
    --box-shadow-color: gray;
    box-shadow: 1px 2px 3px var(--box-shadow-color);
}

#project-card:hover {
    --box-shadow-color: gray;
}



