.modal-full-screen {
  max-width: none;
  margin: 0;
}

.mapboxgl-canvas-container {
  height: 100% !important;
  width: 100% !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
}


.custom-map-modal{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -100vh;
  transition: 0.5s all;
}

.mapboxgl-popup-content {
  min-height: 100px;
  min-width: 300px;
  img {
    width: 100%;
  }
}

#map_button {
    position: fixed;
    bottom: 25px;
    right: 40px;
    background-color: white;
    height: 50px;
    width: 50px;
    color: $orange-vamos;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} //map button for the index page

#map {
  object-fit: cover;
  margin-bottom: 10px;
} //map for the show page

.fa-times-circle {
  color: $orange-vamos;
} //cross to close the map

.project-ong {
  color: gray;
}

.project-elements {
  color: gray;
}
