.has-navbar-so-margin {
  margin-bottom: 90px;
}

.navbar-container {
  background-color: white;
  z-index: 1000;
  height: 65px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid gray;
  a:hover {
    color: gray;
  }
}

.nav-element {
  height: 46px;
  text-align: center;
  &.active .nav-icon, &.active .nav-icon-tag {
    color: $orange-vamos;
  }
}

.nav-icon {
  font-size: 24px;
  color: gray;

}

.nav-icon-tag {
  font-size: 12px;
  font-weight: lighter;
}
