// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "projects/index";
@import "ngos/index";
@import "users/index";
@import "chat/index";
@import "devise/login";
// Social Media Sharing
@import "social-share-button";

@import 'select2/dist/css/select2';


body {
  background-color: white;
  font-family:$body-font;
  font-size: 16px;
  // color: $black-gray;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 27px;
}

@media(min-width: 992px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  // color: $black-gray;
  font-size: 22px;
}

h2 {
  font-size: 25px;
  color: $black-gray;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  color: $black-gray;
}

a {
  color: $black-gray;
  text-decoration: none;
  opacity: 0.93;
}

.smaller-text {
  font-size: 11px;
}

a:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
}

.paragraph-no-margin {
  margin: 0;
}

.h2-less-margin {
  margin-bottom: 0px;
}

.all-infos-dashboard-user-unique {
  margin-right: 120px;
} // user dashboard

