.form-group {
  max-width: 500px;
  width: 100%;
}

@media(min-width: 992px) {
  .form-group {
    width: 100%;
  }
}
@media(min-width: 768px) and (max-width: 991px) {
  .form-group {
    width: 100%;
  }
}
@media(min-width: 575px) and (max-width: 767px) {
  .form-group {

  }
}
