// USER = NGO
.desktop-profile-page {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  .parts-container {
    display: flex;
    .left-part {
      width: 30%;
      -webkit-box-shadow: 0px 0px 22px -22px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 22px -22px rgba(0,0,0,1);
      box-shadow: 0px 0px 22px -22px rgba(0,0,0,1);
      .user-image-container {
        width: 70%;
        margin: auto;
        .user-image {
          width: 100%;
        }
        .button-edit-user-image {
          right: 55px;
        }
      }
    }
    .right-part {
      width: 60%;
      -webkit-box-shadow: 0px 0px 22px -22px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 22px -22px rgba(0,0,0,1);
      box-shadow: 0px 0px 22px -22px rgba(0,0,0,1);
      .ngo-details-content {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
      }
    }
  }
}

.mobile-profile-page {
  min-height: calc(100vh - 80px);
  .nav-link {
    color: gray;
    &.active {
      color: $orange-vamos;
    }
  }
  .left-part {
    .user-image-container {
      width: 150px;
      margin: 20px auto;
      .user-image {
        width: 100%;
      }
      .button-edit-user-image {
        right: 30px;
      }
    }
  }
  .right-part {
    .ngo-details-content {
      padding-left: 10px;
      padding-right: 10px;
      .ngo-image-container {
        margin: auto;

        .ngo-image {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .review {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.button-edit-profile {
  font-size: 16px;
  color: $green-vamos;
  border: 1px solid $green-vamos;
  border-radius: 7px;
  text-align: center;
  padding: 5px 40px;
  width: 200px;
  &:hover {
    background-color: $green-vamos;
    color: white;
  }
}

.box-title {
  height: 70px;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 20px;
  font-weight: bold;
  color: $orange-vamos;
  font-size: 18px;
  letter-spacing: 1px;
  border-bottom: 0.5px solid $orange-vamos;
}

.left-part {
  .user-image-container {
    position: relative;
    .user-image {
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 22px -22px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 22px -22px rgba(0,0,0,1);
      box-shadow: 0px 0px 22px -22px rgba(0,0,0,1);
    }
    .button-edit-user-image {
      position: absolute;
      font-size: 16px;
      bottom: 0px;

      width: 100px;
      height: 30px;
      border-radius: 15px;
      background-color: white;
      border: 1px solid $green-vamos;
      color: $green-vamos;
      text-align: center;
      padding-top: 3px;
      &:hover {

        background-color: $green-vamos;
        color: white;
      }
    }
  }
  .detail-title {
    font-weight: bold;
  }
}

.right-part {
  .ngo-details-content {
    .ngo-image-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      .ngo-image {
        max-width: 100%;
        max-height: 100%;
      }
      .button-edit-ngo-image {
        position: absolute;
        font-size: 16px;
        bottom: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 30px;
        border-radius: 15px;
        background-color: white;
        border: 1px solid $green-vamos;
        color: $green-vamos;
        text-align: center;
        padding-top: 3px;
        &:hover {
          background-color: $green-vamos;
          color: white;
        }
      }
    }
    .detail-title {
      font-weight: bold;
    }
    .reviews-title {
      padding-top: 25px;
      color: $orange-vamos;
      font-weight: bold;
      font-size: 22px;
      letter-spacing: 1px;
    }
    .review {
      display: flex;
      justify-content: between;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 10px;
      .review-user-image-container {
        width: 20%;
        min-width: 100px;
        .review-user-image {
          width: 70px;
          border-radius: 50%;
        }
      }
      .review-content {
        padding-bottom: 30px;
        border-bottom: 1px solid $light-gray;
        width: 80%;
        .review-team {
          font-weight: bold;
          margin-bottom: 10px;
        }
        .review-text {
          font-weight: lighter;
        }
        .review-project {
          color: $orange-vamos;
          font-weight: lighter;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.modal-button-edit-pic {
  width:100px;
  height:100px;
  font-size:50px;
  padding-left:25px;
  margin-left:180px;
  padding-top:15px;
  cursor:pointer;
  border:1px solid #ADB5BD;
  color:#ADB5BD;
  border-radius:10px;
  &:hover {
    border:1px solid gray;
    color:gray;
  }
}

@media(min-width: 992px) {
  .mobile-profile-page {
    display: none;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .desktop-profile-page {
    display: none;
  }
  .mobile-profile-page {
    width: 80%;
    margin: auto;
  }
}

@media(max-width: 767px) {
  .desktop-profile-page {
    display: none;
  }
}

// USER = VOLUNTEER

.orange-title {
  color: $orange-vamos;
  margin-right: 10px;
  text-align: center;
}

.orange-title-left {
  color: $orange-vamos;
  margin-right: 10px;
}

.element-1, .element-2 {
  width: 50%;
  max-width: 200px;
}

.content-container-profile {
  .user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.rounded-circle-volunteer {  //imagz size
  border-radius: 50%;
  border: 2px solid #fb8500;
  object-fit: cover;
}

.sign-out-button {
  border-bottom: 1px solid $orange-vamos;
  color: gray;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.create-team-button {
  margin-top: 20px;
  padding-top: 5px;
  border: 1px solid $orange-vamos;
  border-radius: 10px;
  color: $orange-vamos;
  width: 330px;
  height: 40px;
  font-weight: lighter;
  .orange-color {
    color: $orange-vamos;
  }
  .p-size {
    font-size: 20px;
  }
}

.team-name {
  font-weight: lighter;
}

.status-button {
  width: 100px;
  text-align: center;
  padding: 5px 5px;
  box-shadow: 5px;
  font-size: 16px;
  // position: absolute; best solution to have the button fits the card in every screen
  left: 230px;
  bottom: 135px;
  border-radius: 5px;
  opacity: 0.9;
  color: $white;
  // text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.accepted-button {
    background-color: $orange-vamos;
}

.rejected-button {
  background-color: $black-gray;
}

.pending-button {
  background-color: $black-gray;
}

.review-button {
  width: 120px;
  text-align: center;
  padding: 5px 5px;
  font-size: 16px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 145px;
  border-radius: 5px;
  opacity: 0.9;
  background-color: $green-vamos;
  color: white;
  margin: 0px;
}

.project.card {
  background-color: white;
}

.project-card-profile {  // add to rename the cards to not have the same effects on the projects index page
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 2px 3px gray;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .project-image {
    background-size: cover;
    width: 100%;
    height: 180px;
    position: relative;
  }
  .interest-icon {
    background-color: white;
    text-align: center;
    padding: 7px;
    box-shadow: 5px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    left: 3px;
    bottom: 3px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .project-text-stuff {
    padding-left: 5px;
    .project-title {
      margin: 0px 0px 0px;
      font-size: 22px;
      margin-bottom: 4px;
      margin-top: 4px;
    }
    .project-ong {
      margin-bottom: 5px;
      font-size: 16px;
      color: $light-gray;
      font-weight: lighter;
    }
    .project-elements {
      color: gray;
      font-weight: lighter;
      .element {
        margin-right: 30px;
      }
      a {
      text-decoration: none;
      }
    }
  }
}

.project-text-stuff:hover {
  text-decoration: none;
}

.content-container-profile {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 90%;
  padding: 0px;
  display: grid;
}

.content-container-profile-team {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 90%;
  padding: 0px;
}

.team-members-profile-pictures {
  display: grid;
}

.fa-user-friends {
  margin-left: 5px;
}

.content-container-profile-ngo-project.ngo-app-datas {
  margin: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 90%;
  padding: 0px;
  display: grid;
}

.ngo-datas {
  padding-right: 50px;
  padding-left: 80px;
  box-shadow: 5px;
  display: none;
  height: 400px;
  width: 250px;
}

@media(min-width: 992px) {
  .rounded-circle-volunteer {
    width: 76px;
    height: 76px;
  }
  .rounded-circle {
    margin-right: 15px;
    width: 40px;
    height: 40px;
  }
  .user-photo {
    margin-right: 150px;
    margin-left: 150px;
    padding-right: 80px;
    padding-left: 80px;
  }
  .team-name {
    margin-bottom: 20px;
  }
  .sign-out-button {
    display: none;
  }
  .project-card-profile {
    max-width: 350px;
    padding-right: 2px;
  }
  .content-container-profile {
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .content-container-profile-team {
    width: 80%;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .rounded-circle-volunteer {
    width: 66px;
    height: 66px;
  }
  .user-photo {
    margin-right: 150px;
    margin-left: 150px;
  }
  .sign-out-button {
    display: none;
  }
  .project-card-profile {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 350px;
  }
  .content-container-profile {
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .content-container-profile-team {
    width: 80%;
  }
}
