.login-button {
  color: white;
  border-radius: 10px;
  width: 330px;
}

.login-forms {
  margin-top: 170px;
}

input#user-email.form-control.string.email.optional {
  margin-top: 40px;
}

.errors {
  color: red;
}
